/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /* Change favorite color to match images */
  /*Green dark 190 - Green 171 - Grren Blue 200*/
  --hue-color: 340;

   /* HSL color mode */
   --first-color: hsl(var(--hue-color), 4%, 2%);
   --first-color-second: hsl(var(--hue-color), 44%, 22%);
   --first-color-alt: hsl(var(--hue-color), 64%, 15%);
   --title-color: hsl(var(--hue-color), 64%, 18%);
   --text-color: hsl(var(--hue-color), 24%, 35%);
   --text-color-light: hsl(var(--hue-color), 8%, 60%);
   --input-color: hsl(var(--hue-color), 24%, 97%);
   --body-color: hsl(var(--hue-color), 80%, 85%);
   --white-color: rgb(243, 247, 241);
   --black-color:black;

   --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
   --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);
   --body-alt:rgb(160, 161, 224);
 
  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --title-font: 'Raleway', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /*========== Hover overlay ==========*/
  --img-transition: .3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

.change-theme, .change-theme-name {
  color: var(--text-color);
}

.change-theme {
  cursor: pointer;
  font-size: 1rem;
}

.change-theme-name {
  font-size: var(--small-font-size);
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);

}

button {
  cursor:button;
}


input {
  outline: none;
}

.main {
  overflow-x: hidden;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2.5rem;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: var(--mb-2);
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: transparent;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo, .nav__toggle {
  color: black;
}

.nav__logo {
  font-weight: var(--font-semi-bold);
  font-size: 30px;
}

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__menu {
  position: relative;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
    padding: 3rem;
    transition: .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--text-color-light);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
}

.nav__link:hover {
  color: var(--text-color);
}

.nav__close {
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/* show menu */
.show-menu {
  right: 0;
}

/* Change background header */
.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 0 4px rgba(14, 55, 63, 0.15);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle {
  color: var(--title-color);
}

/* Active link */
.active-link {
  position: relative;
  color: var(--title-color);
}

.active-link::before {
  content: '';
  position: absolute;
  background-color: var(--title-color);
  width: 100%;
  height: 2px;
  bottom: -.75rem;
  left: 0;
}
.home__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 83%;
}

.home__container {
  position: relative;
  height: calc(100vh - var(--header-height));
  align-content: center;
  row-gap: 3rem;
}

.home__data-subtitle, 
.home__data-title, 
.home__social-link, 
.home__info {
  color: var(--white-color);
}

.home__data-subtitle {
  display: block;
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
}

.home__data-title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-2-5);
}

.home__social {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.home__social-link {
  font-size: 1.2rem;
  width: max-content;
}

.home__info {
  background-color: var(--first-color);
  display: flex;
  padding: 1.5rem 1rem;
  align-items: center;
  column-gap: .5rem;
  position: absolute;
  right: 0;
  bottom: 1rem;
  width: 228px;
}

.home__info-title {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
}

.home__info-button {
  font-size: var(--smaller-font-size);
}

.home__info-overlay {
  overflow: var(--img-hidden);
}

.home__info-img {
  width: 145px;
  transition: var(--img-transition);
}

.home__info-img:hover {
  transform: var(--img-scale);
}
.pagination{
  display: block;
  align-self: center;
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  transition: .3s;
  border-radius: 10px;
}
.alt{
  color: var(--white-color);
  background-color: var(--first-color-alt);
  margin-left: 20px;
}

.button:hover {
  background-color: var(--first-color-alt);
}
.alt:hover{
  background-color: var(--first-color);
}

.button--flex {
  display: flex;
  align-items: center;
  column-gap: .25rem;
}

.button--link {
  background: none;
  padding: 0;
}

.button--link:hover {
  background: none;
}

/*=============== ABOUT ===============*/
.about__data {
  text-align: center;
}

.about__container {
  row-gap: 2.5rem;
}
.heading{
  font-size: 40px;
  padding-bottom: 30px;
}

.about__description {
  margin-bottom: var(--mb-2);
}

.about__img {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.about__img-overlay {
  overflow: var(--img-hidden);
}

.about__img-one {
  width: 230px;
}

.about__img-one{
  transition: var(--img-transition);
}

.about__img-one:hover{
  transform: var(--img-scale);
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 80px;
  padding: 120px 200px;
}
.know__icon{
   font-size: 40px;
   background-color: var(--first-color-alt);
   color:var(--white-color);
   padding: 20px;
   border-radius: 50%;
}
.grid-container > div{
  text-align: center;
  padding: 20px 0px;
}
.know__heading{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  padding-bottom: 25px;
}
.know__para{
  font-size: 18px;
}

/*=============== DISCOVER ===============*/
.discover__card {
  position: relative;
  width: 100px;
  overflow: var(--img-hidden);
}

.discover__data {
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;
}

.discover__title, 
.discover__description {
  color: brown;
}

.discover__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-25);
}

.discover__description {
  display: block;
  font-size: var(--smaller-font-size);
}

.discover__img {
  transition: var(--img-transition);
}

.discover__img:hover {
  transform: var(--img-scale);
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}


/*=============== PROJECTS ===============*/
.pro__heading{
  text-align: center;
  font-size: var(--h1-font-size);
  padding: 60px 40px;
}
.features .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.features .box-container .box{
  flex:2 2 30px;
  background:var(--first-color);
  border-radius: .5rem;
  border:.1rem solid rgba(0,0,0,.2);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  margin:0.5rem;
  padding:3rem 2rem;
  border-radius: .5rem;
  text-align: center;
  transition: .2s linear;
}
.features .box-container .box img{
  height: 10rem;
}

.features .box-container .box h3{
  font-size: 2rem;
  color:var(--white-color);
  padding-top: 1rem;
}

.features .box-container .box p{
  font-size: 1rem;
  color:lightgrey;
  padding: 1rem 0;
}
.features .box:hover{
  background: lightslategrey;
}

.pro__btn{
  background-color: linen;
  color:var(--first-color);
  margin-top: 10px;
  font-weight:200px;
}

.pro__btn:hover{
  background-color: rgb(100, 237, 141);
}

/*=============== PRICING ===============*/
.pricing__head{
  text-align: center;
}

.pricing .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.pricing .box-container .box{
  flex:3 3 20px;
  margin:1.5rem;
  padding:1rem;
  background:#fff;
  border:.1rem solid rgba(0,0,0,.2);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: .5rem;
  text-align: center;
  padding-bottom: 3rem;
}

.pricing .box-container .box:hover{
  border:.2rem solid var(--first-color);
}

.pricing .box-container .box .title{
  color:var(--first-color);
  font-size: 2rem;
  padding-top: 1rem;
}
.pricing .box-container .box .price{
  font-size: 2.5rem;
  color:var(--first-color);
  padding:.5rem 0;
}
.pricing .box-container .box .price span{
  font-size: 1.5rem;
}

.pricing .box-container .box ul{
  padding:1rem 0;
  list-style: none;
}

.pricing .box-container .box ul li{
  font-size: 1.5rem;
  color:#666;
  padding:.5rem 0;
}

.pricing .box-container .box ul li .p__icon{
  color:lightgreen;
}
.pricing .box-container .box ul li .px__icon{
  color:tomato;
}
/*=============== PROJECTS ===============*/
.pro__heading,.life__heading,.team__heading{
  text-align: center;
  font-size: var(--h1-font-size);
  padding: 40px 40px;
}
.team__heading{
  padding-left: 20px;
}

.team .box-container{
  display:flex;
  align-items:center;
  justify-content: center;
  flex-wrap:wrap;
}

.team .box-container .box{
  flex:3 3 3 3 30px;
  margin:1rem 1.2rem;
  padding:1.5rem 2rem;
  text-align: center;
  padding-bottom: 1rem;
}

.team .box-container .box img{
  height: 12rem;
}
.tn{
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 0;
}

.team .box-container .box p{
  font-size: 1rem;
  color:black;
  padding-top: 0;
}

.team__img{
  border-radius: 50%;
  width:80%;
  height: 95%;
  object-fit: cover;
  margin: 10px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.box{
  position: relative;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.box:hover img {
  opacity: 0.6;
}

.box:hover .middle {
  opacity: 1;
}

.text {
  color: var(--first-color);
  font-size: 16px;
  padding: 16px 32px;
  padding-left:10px;
}
.team__icon{
  color:var(--first-color);
  font-size: 26px;
}
.team,.footer,.about__info{
  background-color: var(--body-alt);
}

/*=============== Video ===============*/
.swiper__video {
  width: 100%;
  height: 100%;
}

.swiper-slide__video {
  text-align: center;
  font-size: 18px;
  background: var(--body-color);

  /* Center slide text vertically */

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide__video img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide__video {
  width: 50%;
}

.swiper-slide__video:nth-child(2n) {
  width: 50%;
}

.swiper-slide__video:nth-child(n) {
  width: 50%;
}

.swiper-pagination-bullets{
  bottom: -2.5rem;
}
.swiper-pagination-bullet-active{
  background-color:rgb(150, 48, 150);
}
.life {
  width: 50%;
  height: 50%;
}

.life__slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.life__slide img {
  display: block;
  width: 100%;
  height: 10%;
  object-fit: cover;
}

.life {
  width: 80%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.life__slide {
  background-size: cover;
  background-position: center;
}

.mylife2 {
  height: 400px;
  width: 50%;
}

.mylife2 img{
  object-fit: cover;
  height: 50%;
  border-radius: 20px;
}

.mylife {
  height: 50%;
  box-sizing: border-box;
  padding: 10px 40px;
}

.mylife .life__slide {
  width: 25%;
  height: 50%;
  opacity: 0.8;
}

.mylife .swiper-slide-thumb-active {
  opacity: 1;
  width:80%;
  height:100px;
}

/* .swiper-button-prev{
  left:-0.5rem;
}
.swiper-button-next{
  right:-0.5rem;
} */

.swiper-button-prev{
  height:100px;
  color:var(--first-color-second);
}
.swiper-button-next{
  height:700px;
  color:var(--first-color-second);
}




/*=============== SUBSCRIBE ===============*/
.subscribe__container{ 
  background-image: url("https://images.ctfassets.net/gg4ddi543f5b/7171c5RKXXTd2JfMoh48Sc/5642ea333fff9347697f4430e6021077/choosing-the-right-project-management-methdology-or-methodologies.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.subscribe__bg {
  background-color: var(--first-color-second);
  padding: 2.5rem 0;
}

.subscribe__title, 
.subscribe__description {
  color: var(--black-color);
}

.subscribe__description {
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.subscribe__form {
  background-color: var(--input-color);
  padding: .5rem;
  display: flex;
  justify-content: space-between;
}

.subscribe__input {
  width: 70%;
  padding-right: .5rem;
  background-color: var(--input-color);
  color: var(--text-color);
}

.subscribe__input::placeholder {
  color: var(--text-color);
}

/* =====================================Contact================================================= */
.contact{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}

.contact .image{
  flex:1 1 40rem;
}

.contact .image img{
  width:1200px;
  height:600px;
  padding:2rem;
  border-radius: 0.5rem;
}

.contact form{
  flex:1 1 40rem;
  padding:2rem 3rem;
  border:.1rem solid #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: .5rem;
  background: var(--first-color);
}
.cont{
  height:540px;
}
label{
  color:white;
}

.contact form .heading{
  text-align: left;
  padding:0;
  padding-bottom: 1rem;
  color: #FFF;
}

.contact form .inputBox{
  position: relative;
}

.contact form .inputBox input, .contact form .inputBox textarea{
  width:100%;
  background:none;
  color:rgb(168, 163, 163);
  padding:8px 0;
  font-size: 1rem;
  border-bottom: .1rem solid #fff;
  text-transform: none;
}

.contact form .inputBox textarea{
  resize: none;
  height: 6rem;
  border-radius: 5px;
  color:black;
  background-color: white;
}
.contact__btn{
  margin-top: 20px;
  background-color: var(--white-color);
  color: var(--first-color);
}
.contact__btn:hover{
  background-color: lightgray;
}
/* 
.contact form .inputBox input:focus ~ label,
.contact form .inputBox input:valid ~ label,
.contact form .inputBox textarea:focus ~ label,
.contact form .inputBox textarea:valid ~ label{
  top:-.5rem;
  font-size: 1.5rem;
  color:var(--pink);
} */
.center{
  text-align: center;
}
.blog__btn{
  margin-left: 50px;
}
/*=============== FOOTER ===============*/
.footer__container {
  row-gap: 5rem;
}

.footer__content {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__title, 
.footer__subtitle {
  font-size: var(--h3-font-size);
}

.footer__title {
  margin-bottom: var(--mb-0-5);
}

.footer__description {
  margin-bottom: var(--mb-2);
}

.footer__social {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--mb-1-25);
}

.footer__subtitle {
  margin-bottom: var(--mb-1);
}

.footer__item {
  margin-bottom: var(--mb-0-75);
}

.footer__link {
  color: var(--text-color);
}

.footer__link:hover {
  color: var(--title-color);
}

.footer__rights {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  text-align: center;
}

.footer__copy, .footer__terms-link {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.footer__terms {
  display: flex;
  column-gap: 1.5rem;
  justify-content: center;
}

.footer__terms-link:hover {
  color: var(--text-color);
}

/*========== SCROLL UP ==========*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  padding: .5rem;
  display: flex;
  opacity: .9;
  z-index: var(--z-tooltip);
  transition: .4s;
}

.scrollup:hover {
  background-color: var(--first-color-alt);
  opacity: 1;
}

.scrollup__icon {
  color: var(--white-color);
  font-size: 1.2rem;
}

/* Show scroll */
.show-scroll {
  bottom: 5rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .60rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 560px) {
  .home__container{
    margin-top: 60px;
  }
  
  .discover__card {
    width: 280px;
  }
  .discover__container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .discover__data {
    left: 1.5rem;
    bottom: 1rem;
  }
  .discover__title {
    font-size: var(--h2-font-size);
  }
  .place__container {
    grid-template-columns: max-content;
  }
  .place__container {
    gap: 3rem 2rem;
  }
  .place__card, .place__img {
    height: 263px;
  }
  
  .home__info {
    width: 190px;
    padding: 1rem;
  }
  .experience__img {
    padding: 0;
  }

  .blog__btn{
    margin-left: 80px;
  }

  .swiper-button-prev{
    height:100vh;
    color:var(--first-color-second);
    visibility: hidden;
  }
  .swiper-button-next{
    height:100vh;
    color:var(--first-color-second);
    visibility: hidden;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    padding-left: 150px;
  }
  .grid-container > div{
    text-align: center;
    padding: 10px 0px;
  }
  .subscribe__bg{
    background-image: url("https://www.lifewire.com/thmb/g2jva4iFBaG5vBXNpzEs8wEVYJY=/1920x1080/filters:no_upscale():max_bytes(150000):strip_icc()/passage_wallpaper_by_trenchmaker-d4pp3zd-5919d0673df78cf5fa42884c.jpg");
    background-repeat: no-repeat;
  }
  .life__slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .life {
    width: 400px;
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .life__slide {
    background-size: cover;
    background-position: center;
  }
  
  .mylife2 {
    height: 400px;
    width: 100%;
  }
  
  .mylife2 img{
    object-fit: cover;
    height: 100%;
    border-radius: 20px;
  }
  
  .mylife {
    height: 50%;
    box-sizing: border-box;
    padding: 10px 40px;
  }
  
  .mylife .life__slide {
    width: 100%;
    opacity: 0.8;
  }
  
  .mylife .swiper-slide-thumb-active {
    opacity: 1;
    width:80%;
    height:200px;
  }
  .video__play{
    width: 500px;
    object-fit: cover;
  }
}

/* For medium devices */
@media screen and (min-width: 568px) {
  .discover__card {
    width: 230px;
  }

  .discover__data {
    left: 1.5rem;
    bottom: 1rem;
  }
  .discover__title {
    font-size: var(--h2-font-size);
  }

  .discover__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .discover-container .box{
    flex:3 3 20px;
    margin:1.5rem;
    padding:1rem;
    background:#fff;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    text-align: center;
    padding-bottom: 3rem;
  }
  
  .place__container {
    grid-template-columns: repeat(2, max-content);
  }

  .subscribe__form {
    width: 470px;
    margin: 0 auto;
  }
  .swiper-button-prev{
    height:100vh;
    color:var(--first-color-second);
    visibility: hidden;
  }
  .swiper-button-next{
    height:100vh;
    color:var(--first-color-second);
    visibility: hidden;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__link {
    color: var(--white-color);
    text-transform: initial;
  }
  .nav__link:hover {
    color: var(--white-color);
  }
  .nav__dark {
    position: initial;
  }
  .nav__menu {
    display: flex;
    column-gap: 1rem;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }
  .nav__toggle, .nav__close {
    display: none;
  }
  .change-theme-name {
    display: none;
  }
  .change-theme {
    color: var(--white-color);
  }
  .active-link::before {
    background-color: var(--white-color);
  }
  .scroll-header .nav__link {
    color: var(--text-color);
  }
  .scroll-header .active-link {
    color: var(--title-color);
  }
  .scroll-header .active-link::before {
    background-color: var(--title-color);
  }
  .scroll-header .change-theme {
    color: var(--text-color);
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .home__container {
    height: 100vh;
    grid-template-rows: 1.8fr .5fr;
  }
  .home__data {
    align-self: flex-end;
  }
  .home__social {
    flex-direction: row;
    align-self: flex-end;
    margin-bottom: 3rem;
    column-gap: 2.5rem;
  }
  .home__info {
    bottom: 3rem;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .about__data, .about__title {
    text-align: initial;
  }
  .about__title {
    margin-bottom: var(--mb-1-5);
  }
  .about__description {
    margin-bottom: var(--mb-2);
  }
  .discover__card {
    width: 237px;
  }

  .discover__data {
    left: 1.5rem;
    bottom: 1rem;
  }
  .discover__title {
    font-size: var(--h2-font-size);
  }

  .discover__container,
  .place__container,.know__container {
    padding-top: 2rem;
    width: 700px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .experience__overlay:nth-child(1) {
    width: 363px;
    margin-right: 4rem;
  }
  .experience__overlay:nth-child(2) {
    width: 160px;
  }
  .subscribe__bg {
    background: none;
    padding: 0;
  }
  .subscribe__container {
    background-color: transparent;
    padding: 3.5rem 0;
  }
  .subscribe__input {
    padding: 0 .5rem;
  }
  .footer__rights {
    flex-direction: row;
    justify-content: space-between;
  }
  .swiper-button-prev{
    color:var(--first-color-second);
    visibility: hidden;
  }
  .swiper-button-next{
    color:var(--first-color-second);
    visibility: hidden;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home__container {
    grid-template-rows: 2fr .5fr;
  }
  .home__info {
    width: 328px;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
  .home__info-title {
    font-size: var(--normal-font-size);
  }
  .home__info-img {
    width: 240px;
  }
  .about__img-one {
    width: 230px;
  }
  
  .discover__card {
    width: 237px;
  }
  .discover__container {
    width: 700px;
  }
  .discover__data {
    left: 1.5rem;
    bottom: 1rem;
  }
  .discover__title {
    font-size: var(--h2-font-size);
  }
  .experience__content {
    margin: var(--mb-1) 0;
    column-gap: 3.5rem;
  }
  .experience__overlay:nth-child(1) {
    width: 463px;
    margin-right: 7rem;
  }
  .experience__overlay:nth-child(2) {
    width: 220px;
    top: 3rem;
  }
  .place__container {
    grid-template-columns: repeat(3, max-content);
  }
  
  .place__container {
    gap: 3rem 2rem;
  }
  .place__card, .place__img {
    height: 263px;
  }
  .footer__content {
    justify-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1024px;
  }
  .swiper-button-prev{
    color:var(--first-color-second);
  }
  .swiper-button-next{
    color:var(--first-color-second);

  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
  body {
    margin: 0;
  }
  .home__container, .home__img {
    height: 640px;
  }
}
